body {background-color: #d8e2eb;color:#5c5c5c}
.my_content {background-color:#f1ffff;margin-top: 20px}
.my_content img{width: 100%;height: 160px}
.my_content a{color:#5c5c5c}
.my_content a:hover{color:#e67e22}
.my_content button{color:#ffffff;background-color: #e67e22}
.my_classify {background-color:#f1ffff;margin-top: 20px;padding: 10px;}
.my_classify span{color:#40759b;}
.my_autocomplete{position:fixed;width:200px;text-align:left;top:20%;z-index: 999}
.my_autocomplete ul{background-color:#f2f2f2;padding:10px;}
.my_autocomplete ul li{list-style-type: none;cursor: pointer}
.my_autocomplete ul li:hover{background-color: #2b542c;color:#ffffff}
.wangEditor {height:50%;max-height:5000px;background-color:#f1ffff;}
.wangEditor1 {background-color:#ffffff;}
.my_editor{background-color: #f1f2ff}
.my_textarea{width:100%; max-width:100%;}
.my_bottom{background-color: #f1f1f1;padding: 10px;}
.my_top{background-color: #f1f1f1;}
.my_img{width:60%}
